<?xml version="1.0" ?>
<robot name="movo" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="linear_actuator_link"/>
  <joint name="right_kinova_joint" type="fixed">
    <parent link="linear_actuator_link"/>
    <child link="right_base_link"/>
    <origin rpy="-1.570796325 0 -1.570796325" xyz="0.0261046 -0.13335 0.2799937"/>
  </joint>
  <link name="right_base_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/base.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/base.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.649618"/>
      <origin xyz="-0.000146 0.0 0.031039"/>
      <inertia ixx="0.000652" ixy="-0.000000" ixz="0.000001" iyx="0.000000" iyy="0.000646" iyz="0.000000" izx="0.000001" izy="0.000000" izz="0.000480"/>
    </inertial>
  </link>
  <joint name="right_shoulder_pan_joint" type="revolute">
    <parent link="right_base_link"/>
    <child link="right_shoulder_link"/>
    <origin rpy="0 3.14159265 0" xyz="0 0 0.0625"/>
    <axis xyz="0 0 1"/>
    <limit effort="18000.0" lower="-3.14159265" upper="3.14159265" stepSize="0.691150384"/>
    <dynamics damping="0.01" friction="0.0"/>
  </joint>
  <link name="right_shoulder_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/shoulder_7dof.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/shoulder_7dof.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.824524"/>
      <origin xyz="0.000018 -0.004667 -0.060609"/>
      <inertia ixx="0.002561" ixy="0.000000" ixz="0.000001" iyx="0.000000" iyy="0.002653" iyz="0.000212" izx="0.000001" izy="0.000212" izz="0.000524"/>
    </inertial>
  </link>
  <joint name="right_shoulder_lift_joint" type="revolute">
    <parent link="right_shoulder_link"/>
    <child link="right_arm_half_1_link"/>
    <origin rpy="1.570796325 0 0" xyz="0 0 -0.11875"/>
    <axis xyz="0 0 1"/>
    <limit effort="30000.5" lower="-2.238" upper="2.238" stepSize="0.691150384"/>
    <dynamics damping="0.01" friction="0.0"/>
  </joint>
  <link name="right_arm_half_1_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/arm_half_1.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/arm_half_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8447"/>
      <origin xyz="0 -0.103563213 0"/>
      <inertia ixx="0.000435" ixy="0.000002" ixz="0.000231" iyx="0.000002" iyy="0.034947" iyz="0.000000" izx="0.000231" izy="0.000000" izz="0.035198"/>
    </inertial>
  </link>
  <joint name="right_arm_half_joint" type="revolute">
    <parent link="right_arm_half_1_link"/>
    <child link="right_arm_half_2_link"/>
    <origin rpy="-1.570796325 0 0" xyz="0 -0.205 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="30000.5" lower="-3.14159265" upper="3.14159265" stepSize="0.691150384"/>
    <dynamics damping="0.01" friction="0.0"/>
  </joint>
  <link name="right_arm_half_2_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/arm_half_2.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/arm_half_2.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.8447"/>
      <origin xyz="0 0 -0.1022447445"/>
      <inertia ixx="0.000435" ixy="0.000002" ixz="0.000231" iyx="0.000002" iyy="0.034947" iyz="0.000000" izx="0.000231" izy="0.000000" izz="0.035198"/>
    </inertial>
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <parent link="right_arm_half_2_link"/>
    <child link="right_forearm_link"/>
    <origin rpy="-1.570796325 0 0" xyz="0 0 -0.205"/>
    <axis xyz="0 0 1"/>
    <limit effort="18000.0" lower="-2.809" upper="2.809" stepSize="0.691150384"/>
    <dynamics damping="0.01" friction="0.0"/>
  </joint>
  <link name="right_forearm_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/forearm_7dof.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/forearm_7dof.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.674254"/>
      <origin xyz="0 0.081 -0.0086"/>
      <inertia ixx="0.005453" ixy="0.000003" ixz="0.000000" iyx="0.000003" iyy="0.000305" iyz="0.000087" izx="0.000000" izy="0.000087" izz="0.005578"/>
    </inertial>
  </link>
  <joint name="right_wrist_spherical_1_joint" type="revolute">
    <parent link="right_forearm_link"/>
    <child link="right_wrist_spherical_1_link"/>
    <!--  <origin xyz="0 0.20725 0 " rpy="${wrist_spherical_1_joint_rpy}" /> -->
    <origin rpy="1.570796325 3.14159265 0" xyz="0 0.2073 -0.0114"/>
    <axis xyz="0 0 1"/>
    <limit effort="60000.8" lower="-3.14159265" upper="3.14159265" stepSize="0.921533845"/>
    <dynamics damping="0.01" friction="0.0"/>
  </joint>
  <link name="right_wrist_spherical_1_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/wrist_spherical_1.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/wrist_spherical_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.463"/>
      <origin xyz="0 0.0028848942 -0.0541932613"/>
      <inertia ixx="0.000392" ixy="0.000000" ixz="0.000000" iyx="0.000000" iyy="0.000347" iyz="0.000101" izx="0.000000" izy="0.000101" izz="0.000233"/>
    </inertial>
  </link>
  <joint name="right_wrist_spherical_2_joint" type="revolute">
    <parent link="right_wrist_spherical_1_link"/>
    <child link="right_wrist_spherical_2_link"/>
    <origin rpy="-1.570796325 0 0" xyz="0 0 -0.10375 "/>
    <axis xyz="0 0 1"/>
    <limit effort="60000.8" lower="-2.78" upper="2.78" stepSize="0.921533845"/>
    <dynamics damping="0.01" friction="0.0"/>
  </joint>
  <link name="right_wrist_spherical_2_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/wrist_spherical_2.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/wrist_spherical_2.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.463"/>
      <origin xyz="0 0.0497208855 -0.0028562765"/>
      <inertia ixx="0.000392" ixy="0.000000" ixz="0.000000" iyx="0.000000" iyy="0.000347" iyz="0.000101" izx="0.000000" izy="0.000101" izz="0.000233"/>
    </inertial>
  </link>
  <joint name="right_wrist_3_joint" type="revolute">
    <parent link="right_wrist_spherical_2_link"/>
    <child link="right_wrist_3_link"/>
    <origin rpy="1.570796325 3.14159265 0" xyz="0 0.10375 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="60000.8" lower="-3.14159265" upper="3.14159265" stepSize="0.921533845"/>
    <dynamics damping="0.01" friction="0.0"/>
  </joint>
  <link name="right_wrist_3_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/kinova_actuator_gearing.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/jaco/collision/kinova_actuator_gearing.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.190782"/>
      <origin xyz="-0.00082 0.000048 -0.216121"/>
      <inertia ixx="0.000048" ixy="0.000000" ixz="0.000000" iyx="0.000000" iyy="0.000049" iyz="0.000000" izx="0.000000" izy="0.000000" izz="0.000072"/>
    </inertial>
  </link>
  <joint name="right_ee_fixed_joint" type="fixed">
    <parent link="right_wrist_3_link"/>
    <child link="right_ee_link"/>
    <origin rpy="3.14159265 1.570796325 0" xyz="0 0 -0.1600"/>
  </joint>
  <link name="right_ee_link"/>
  <joint name="right_gripper_base_joint" type="fixed">
    <parent link="right_ee_link"/>
    <child link="right_gripper_base_link"/>
    <origin rpy="-3.14159265 1.570796325 0" xyz="-0.16 0 0"/>
  </joint>
  <link name="right_gripper_base_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/kg3_base_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/kg3_base_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.799312"/>
      <origin xyz="0.000007 -0.005175 -0.067280"/>
      <inertia ixx="0.000790" ixy="0.000000" ixz="0.000004" iyx="0.000000" iyy="0.000650" iyz="0.000003" izx="0.000004" izy="0.000003" izz="0.000823"/>
    </inertial>
  </link>
  <joint name="right_gripper_finger1_joint" type="revolute">
    <parent link="right_gripper_base_link"/>
    <child link="right_gripper_finger1_knuckle_link"/>
    <axis xyz="0 0 1"/>
    <origin rpy="1.4676 -0.0092813 -1.7501" xyz="-0.0027954 0.031318 -0.11464"/>
    <limit damping="0.005" effort="3.0" friction="0.005" lower="0.0" upper="0.986111027" stepSize="1.0"/>
  </joint>
  <link name="right_gripper_finger1_knuckle_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_knuckle.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_knuckle.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.009127"/>
      <origin xyz="-0.016752 -0.013874 0.0"/>
      <inertia ixx="0.000002" ixy="0.000001" ixz="0.000000" iyx="0.000001" iyy="0.000001" iyz="0.000000" izx="0.000000" izy="0.000000" izz="0.000002"/>
    </inertial>
  </link>
  <joint name="right_gripper_finger2_joint" type="revolute">
    <parent link="right_gripper_base_link"/>
    <child link="right_gripper_finger2_knuckle_link"/>
    <axis xyz="0 0 1"/>
    <origin rpy="1.570796325 0 1.7555" xyz="0.022289 -0.027253 -0.11471"/>
    <limit damping="0.005" effort="3.0" friction="0.005" lower="0.0" upper="0.986111027" stepSize="1.0"/>
    <mimic joint="right_gripper_finger1_joint"/>
  </joint>
  <link name="right_gripper_finger2_knuckle_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_knuckle.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_knuckle.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.009127"/>
      <origin xyz="-0.016752 -0.013874 0.0"/>
      <inertia ixx="0.000002" ixy="0.000001" ixz="0.000000" iyx="0.000001" iyy="0.000001" iyz="0.000000" izx="0.000000" izy="0.000000" izz="0.000002"/>
    </inertial>
  </link>
  <joint name="right_gripper_finger3_joint" type="revolute">
    <parent link="right_gripper_base_link"/>
    <child link="right_gripper_finger3_knuckle_link"/>
    <axis xyz="0 0 1"/>
    <origin rpy="1.570796325 0 1.3861" xyz="-0.022284 -0.027223 -0.11473"/>
    <limit damping="0.005" effort="3.0" friction="0.005" lower="0.0" upper="0.986111027" stepSize="1.0"/>
    <mimic joint="right_gripper_finger1_joint"/>
  </joint>
  <link name="right_gripper_finger3_knuckle_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_knuckle.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_knuckle.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.009127"/>
      <origin xyz="-0.016752 -0.013874 0.0"/>
      <inertia ixx="0.000002" ixy="0.000001" ixz="0.000000" iyx="0.000001" iyy="0.000001" iyz="0.000000" izx="0.000000" izy="0.000000" izz="0.000002"/>
    </inertial>
  </link>
  <joint name="right_gripper_finger1_finger_tip_joint" type="fixed">
    <parent link="right_gripper_finger1_knuckle_link"/>
    <child link="right_gripper_finger1_finger_tip_link"/>
    <origin rpy="0 0 0" xyz="-0.0245981 -0.036051 0.0"/>
  </joint>
  <link name="right_gripper_finger1_finger_tip_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_tip.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_tip.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012690"/>
      <origin xyz="-0.011926 -0.009701 0.0"/>
      <inertia ixx="0.000002" ixy="0.000001" ixz="0.000000" iyx="0.000001" iyy="0.000001" iyz="0.000000" izx="0.000000" izy="0.000000" izz="0.000002"/>
    </inertial>
  </link>
  <joint name="right_gripper_finger2_finger_tip_joint" type="fixed">
    <parent link="right_gripper_finger2_knuckle_link"/>
    <child link="right_gripper_finger2_finger_tip_link"/>
    <origin rpy="0 0 0" xyz="-0.0245981 -0.036051 0.0"/>
  </joint>
  <link name="right_gripper_finger2_finger_tip_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_tip.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_tip.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012690"/>
      <origin xyz="-0.011926 -0.009701 0.0"/>
      <inertia ixx="0.000002" ixy="0.000001" ixz="0.000000" iyx="0.000001" iyy="0.000001" iyz="0.000000" izx="0.000000" izy="0.000000" izz="0.000002"/>
    </inertial>
  </link>
  <joint name="right_gripper_finger3_finger_tip_joint" type="fixed">
    <parent link="right_gripper_finger3_knuckle_link"/>
    <child link="right_gripper_finger3_finger_tip_link"/>
    <origin rpy="0 0 0" xyz="-0.0245981 -0.036051 0.0"/>
  </joint>
  <link name="right_gripper_finger3_finger_tip_link">
    <visual>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_tip.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="movo_description/meshes/manipulation/kinova_grippers/collision/finger_tip.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012690"/>
      <origin xyz="-0.011926 -0.009701 0.0"/>
      <inertia ixx="0.000002" ixy="0.000001" ixz="0.000000" iyx="0.000001" iyy="0.000001" iyz="0.000000" izx="0.000000" izy="0.000000" izz="0.000002"/>
    </inertial>
  </link>
</robot>
