root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{h, cpp}]
indent_size = 2
indent_style = space

[*.rst]
indent_style = space
indent_size = 3

[CMakeLists.txt]
indent_style = space
indent_size = 4
