[submodule "3rd_party/optifuser"]
	path = 3rd_party/optifuser
	url = git@github.com:fbxiang/optifuser.git
[submodule "3rd_party/pybind11"]
	path = 3rd_party/pybind11
	url = git@github.com:pybind/pybind11.git
