[submodule "3rd_party/optifuser"]
	path = 3rd_party/optifuser
	url = https://github.com/fbxiang/optifuser.git
[submodule "3rd_party/pybind11"]
	path = 3rd_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rd_party/tinyxml2"]
	path = 3rd_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "3rd_party/sapien-vulkan-2"]
	path = 3rd_party/sapien-vulkan-2
	url = git@github.com:haosulab/sapien-vulkan-2.git
[submodule "3rd_party/simsense"]
	path = 3rd_party/simsense
	url = git@github.com:angli66/simsense.git
	branch = sapien
[submodule "3rd_party/CoACD"]
	path = 3rd_party/CoACD
	url = git@github.com:fbxiang/CoACD.git
