[submodule "3rd_party/sapien-vulkan-2"]
	path = 3rd_party/sapien-vulkan-2
	url = https://github.com/haosulab/sapien-vulkan-2.git
[submodule "3rd_party/simsense"]
	path = 3rd_party/simsense
	url = https://github.com/haosulab/simsense.git
	branch = sapien
