/build
*/build
/sapien_build
/docker_sapien_build
compile_commands.json
.vscode
.pyc
cmake-build-debug
/cmake-build-debug/
.ccls-cache/
/.dir-locals.el
/sapien.egg-info/
__pycache__
.ini
*.convex.*
/wheelhouse
imgui.ini
.mypy_cache
.DS_Store
/.idea
/CMakeFiles
/CMakeCache.txt

/ros2_ws/log/
/ros2_ws/install/
/dist/
*.convex.*
/.clangd/

/docker/PhysX/
/docker/cuda-11.4/

apidoc

*.pb.cc
*.pb.h
python/py_package/*.so
