<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="xarm_gripper" >

  <!-- common stuff -->
  <xacro:include filename="$(find xarm_description)/urdf/common.gazebo.xacro" />

  <!-- xarm_gripper -->
  <xacro:include filename="$(find xarm_gripper)/urdf/xarm_gripper.urdf.xacro" />
  <xacro:include filename="$(find xarm_gripper)/urdf/xarm_gripper.transmission.xacro" />
  <xacro:include filename="$(find xarm_gripper)/urdf/xarm_gripper.gazebo.xacro" />

  <xacro:macro name="load_gripper" params="prefix:='' attach_to:='' ns:='xarm_gripper' xyz:='0 0 0' rpy:='0 0 0' effort_control:='false' ">
    <!-- gazebo plugin -->
    <!-- <xacro:gazebo_ros_control_plugin namespace="${ns}"/> -->

    <xacro:xarm_gripper_urdf prefix="${prefix}" attach_to="${attach_to}" xyz="${xyz}" rpy="${rpy}" />

    <xacro:if value="${effort_control}">
      <xacro:xarm_gripper_transmission prefix="${prefix}" hard_interface="EffortJointInterface" />
    </xacro:if>
    <xacro:unless value="${effort_control}">
      <xacro:xarm_gripper_transmission prefix="${prefix}" hard_interface="PositionJointInterface" />
    </xacro:unless>

    <xacro:xarm_gripper_gazebo prefix="${prefix}" />

  </xacro:macro>
</robot>
