<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="xarm_gripper_gazebo" params="prefix">

    <gazebo reference="${prefix}xarm_gripper_base_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}left_outer_knuckle">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}left_finger">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}left_inner_knuckle">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}right_outer_knuckle">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}right_finger">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${prefix}right_inner_knuckle">
      <selfCollide>true</selfCollide>
    </gazebo>

  </xacro:macro>

</robot>